USE [master]
GO
/****** Object:  Database [QuanLyNhanSu]    Script Date: 24/09/2020 2:23:24 CH ******/
CREATE DATABASE [QuanLyNhanSu]
go 

USE [QuanLyNhanSu]
GO
/****** Object:  Table [dbo].[CHUCVU]    Script Date: 24/09/2020 2:23:24 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHUCVU](
	[MaCV] [nchar](10) NOT NULL,
	[TenCV] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaCV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DANGNHAP]    Script Date: 24/09/2020 2:23:24 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DANGNHAP](
	[TenDN] [nvarchar](20) NOT NULL,
	[MatKhau] [nvarchar](20) NOT NULL,
	[MaNV] [nchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[TenDN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HDLD]    Script Date: 24/09/2020 2:23:24 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HDLD](
	[MaNV] [nchar](10) NULL,
	[TenHD] [nvarchar](50) NULL,
	[NgayKiHopDong] [date] NULL,
	[NgayKetThucKiHopDong] [date] NULL,
	[MaHD] [nchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LUONG]    Script Date: 24/09/2020 2:23:24 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LUONG](
	[MaNV] [nchar](10) NULL,
	[LuongCB] [money] NULL,
	[LuongThuong] [int] NULL,
	[GhiChu] [nvarchar](50) NULL,
	[SoNgayTangCa] [int] NULL,
	[TongLuong] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 24/09/2020 2:23:24 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MaNV] [nchar](10) NOT NULL,
	[HoTen] [nvarchar](50) NULL,
	[BangCap] [nvarchar](50) NULL,
	[GioiTinh] [nvarchar](3) NULL,
	[NgaySinh] [date] NULL,
	[DiaChi] [nvarchar](200) NULL,
	[MaPB] [nvarchar](10) NULL,
	[CMTND] [nvarchar](15) NULL,
	[SDT] [nvarchar](15) NULL,
	[DanToc] [nvarchar](11) NULL,
	[TonGiao] [nvarchar](11) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN_CHUCVU]    Script Date: 24/09/2020 2:23:24 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN_CHUCVU](
	[MaCV] [nchar](10) NULL,
	[MaNV] [nchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN_VITRI]    Script Date: 24/09/2020 2:23:24 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN_VITRI](
	[MaVT] [nchar](10) NULL,
	[MaNV] [nchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHONGBAN]    Script Date: 24/09/2020 2:23:24 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHONGBAN](
	[MaPB] [nvarchar](10) NOT NULL,
	[TenPB] [nvarchar](50) NULL,
	[DiaChi] [nvarchar](50) NULL,
	[MaTP] [nchar](10) NULL,
	[TenTP] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VITRICONGVIEC]    Script Date: 24/09/2020 2:23:24 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VITRICONGVIEC](
	[MaVT] [nchar](10) NOT NULL,
	[TenVT] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaVT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

GO
INSERT [dbo].[CHUCVU] ([MaCV], [TenCV]) VALUES (N'CV00000001', N'Giám đốc')
INSERT [dbo].[CHUCVU] ([MaCV], [TenCV]) VALUES (N'CV00000002', N'Phó giám đốc')
INSERT [dbo].[CHUCVU] ([MaCV], [TenCV]) VALUES (N'CV00000003', N'Trưởng phòng')
INSERT [dbo].[DANGNHAP] ([TenDN], [MatKhau], [MaNV]) VALUES (N'NV01', N'admin', N'NV00000001')
INSERT [dbo].[DANGNHAP] ([TenDN], [MatKhau], [MaNV]) VALUES (N'NV03', N'admin', N'NV00000003')
INSERT [dbo].[DANGNHAP] ([TenDN], [MatKhau], [MaNV]) VALUES (N'NV04', N'admin', N'NV00000004')


INSERT [dbo].[HDLD] ([MaNV], [TenHD], [NgayKiHopDong], [NgayKetThucKiHopDong], [MaHD]) VALUES (N'NV00000001', N'Hợp Đồng Có Thời Hạn', CAST(N'2013-12-05' AS Date), CAST(N'2018-10-30' AS Date), N'NV00000001')
INSERT [dbo].[HDLD] ([MaNV], [TenHD], [NgayKiHopDong], [NgayKetThucKiHopDong], [MaHD]) VALUES (N'NV00000002', N'Hợp Đồng Có Thời Hạn', CAST(N'2015-11-07' AS Date), CAST(N'2016-11-07' AS Date), N'NV00000002')
INSERT [dbo].[HDLD] ([MaNV], [TenHD], [NgayKiHopDong], [NgayKetThucKiHopDong], [MaHD]) VALUES (N'NV00000003', N'Hợp Đồng Có Thời Hạn', CAST(N'2012-06-12' AS Date), CAST(N'2018-05-11' AS Date), N'NV00000003')
INSERT [dbo].[LUONG] ([MaNV], [LuongCB], [LuongThuong], [GhiChu], [SoNgayTangCa], [TongLuong]) VALUES (N'NV00000001', 7250000, 300000, N'tháng 10', 4, 7750000)
INSERT [dbo].[LUONG] ([MaNV], [LuongCB], [LuongThuong], [GhiChu], [SoNgayTangCa], [TongLuong]) VALUES (N'NV00000002', 7000000, 700000, N'', 4, 7900000)
INSERT [dbo].[LUONG] ([MaNV], [LuongCB], [LuongThuong], [GhiChu], [SoNgayTangCa], [TongLuong]) VALUES (N'NV00000003', 1000000, 1000000, N'thương tháng 5',1, 2050000)

INSERT [dbo].[NHANVIEN] ([MaNV], [HoTen], [BangCap], [GioiTinh], [NgaySinh], [DiaChi], [MaPB], [CMTND], [SDT], [DanToc], [TonGiao]) VALUES (N'NV00000001', N'Nguyễn Hữu Chính', N'Đại Học', N'Nam', CAST(N'1994-09-07' AS Date), N'Bắc Giang', N'MK', N'463643564575', N'097854629', N'tày', N'không')
INSERT [dbo].[NHANVIEN] ([MaNV], [HoTen], [BangCap], [GioiTinh], [NgaySinh], [DiaChi], [MaPB], [CMTND], [SDT], [DanToc], [TonGiao]) VALUES (N'NV00000002', N'Nguyễn Minh Tú', N'Đại Học', N'Nam', CAST(N'1994-09-10' AS Date), N'Hà Nội', N'TC-KT', N'13123214599', N'098765324', N'Kinh', N'không')
INSERT [dbo].[NHANVIEN] ([MaNV], [HoTen], [BangCap], [GioiTinh], [NgaySinh], [DiaChi], [MaPB], [CMTND], [SDT], [DanToc], [TonGiao]) VALUES (N'NV00000003', N'Lê Trường Sơn', N'Tiến Sỹ', N'Nam', CAST(N'1993-05-07' AS Date), N'Yên Bái', N'MK', N'12334345465', N'098654353', N'Kinh', N'không')
INSERT [dbo].[NHANVIEN_CHUCVU] ([MaCV], [MaNV]) VALUES (N'CV00000004', N'NV00000001')
INSERT [dbo].[NHANVIEN_CHUCVU] ([MaCV], [MaNV]) VALUES (N'CV00000004', N'NV00000002')
INSERT [dbo].[NHANVIEN_CHUCVU] ([MaCV], [MaNV]) VALUES (N'CV00000004', N'NV00000006')
INSERT [dbo].[NHANVIEN_VITRI] ([MaVT], [MaNV]) VALUES (N'VT00000001', N'NV00000001')
INSERT [dbo].[NHANVIEN_VITRI] ([MaVT], [MaNV]) VALUES (N'VT00000002', N'NV00000002')
INSERT [dbo].[NHANVIEN_VITRI] ([MaVT], [MaNV]) VALUES (N'VT00000007', N'NV00000003')
INSERT [dbo].[PHONGBAN] ([MaPB], [TenPB], [DiaChi], [MaTP], [TenTP]) VALUES (N'KT-KT', N'Kinh Tế - Kỹ Thuật', N'Quảng Nam', N'NV00000011', N'Đào Quang An')
INSERT [dbo].[PHONGBAN] ([MaPB], [TenPB], [DiaChi], [MaTP], [TenTP]) VALUES (N'MK', N'MarKeting', N'Hòa Bình', N'NV00000003', N'Lê Trường Sơn')
INSERT [dbo].[PHONGBAN] ([MaPB], [TenPB], [DiaChi], [MaTP], [TenTP]) VALUES (N'NV', N'Nội Vụ', N'Hà Nội', N'NV00000004', N'Đặng Tuấn Anh')
INSERT [dbo].[VITRICONGVIEC] ([MaVT], [TenVT]) VALUES (N'VT00000001', N'Thư Ký ')
INSERT [dbo].[VITRICONGVIEC] ([MaVT], [TenVT]) VALUES (N'VT00000002', N'Kế Toán')
INSERT [dbo].[VITRICONGVIEC] ([MaVT], [TenVT]) VALUES (N'VT00000003', N'Nhân viên Kỹ Thuật')

go
ALTER TABLE [dbo].[DANGNHAP]  WITH CHECK ADD FOREIGN KEY([MaNV])
REFERENCES [dbo].[NHANVIEN] ([MaNV])
GO
ALTER TABLE [dbo].[HDLD]  WITH CHECK ADD FOREIGN KEY([MaNV])
REFERENCES [dbo].[NHANVIEN] ([MaNV])
GO
ALTER TABLE [dbo].[LUONG]  WITH CHECK ADD FOREIGN KEY([MaNV])
REFERENCES [dbo].[NHANVIEN] ([MaNV])
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD FOREIGN KEY([MaPB])
REFERENCES [dbo].[PHONGBAN] ([MaPB])
GO
ALTER TABLE [dbo].[NHANVIEN_CHUCVU]  WITH CHECK ADD FOREIGN KEY([MaCV])
REFERENCES [dbo].[CHUCVU] ([MaCV])
GO
ALTER TABLE [dbo].[NHANVIEN_CHUCVU]  WITH CHECK ADD FOREIGN KEY([MaNV])
REFERENCES [dbo].[NHANVIEN] ([MaNV])
GO
ALTER TABLE [dbo].[NHANVIEN_VITRI]  WITH CHECK ADD FOREIGN KEY([MaNV])
REFERENCES [dbo].[NHANVIEN] ([MaNV])
GO
ALTER TABLE [dbo].[NHANVIEN_VITRI]  WITH CHECK ADD FOREIGN KEY([MaVT])
REFERENCES [dbo].[VITRICONGVIEC] ([MaVT])
GO
ALTER TABLE [dbo].[PHONGBAN]  WITH CHECK ADD  CONSTRAINT [FK_PHONGBAN_NHANVIEN] FOREIGN KEY([MaTP])
REFERENCES [dbo].[NHANVIEN] ([MaNV])
GO
ALTER TABLE [dbo].[PHONGBAN] CHECK CONSTRAINT [FK_PHONGBAN_NHANVIEN]
GO

